let env = {
  devnet: {
    web3Url: '',
    privateKey: '',
  },
  testnet: {
    web3Url: 'Your_Infura_Rinkby_URL',
    privateKey: 'Your_Private_Key',
  },
  mainnet: {
    web3Url: '',
    privateKey: '',
  }
}

module.exports = env;